:root {
  --color-black: black;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #eeeff1;
  --color-light: #f9f9f9;
  --color-white: white;

  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --letter-spacing: 0.1em;
  --line-height-lg: 1.64;
  --line-height-normal: 1.2;

  --container-primary: 1110px;
  --container-secondary: 540px;
  --gap: 20px;
  --gap-sm: calc(var(--gap) / 2);
  --gap-lg: calc(var(--gap) * 2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-normal);
  
}
a {
  text-decoration: none;
}

.container {
  width: min(100% - 40px, var(--container-primary));
  margin-inline: auto;
}
.container--sm {
  width: min(100% - 10px, var(--container-secondary));
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0,0,0,0);
  overflow: hidden;
}
.header {
  padding-top: 66px;
  padding-bottom: 100px;
  background-color: var(--color-gray-light);
  min-height: 700px;
}
.navbar {
  margin-bottom: 134px;
}
.navbar__list {
  display: flex;
  gap: 43px;
}
.navbar_link {
  display: block;
  color: var(--color-black);
  line-height: var(--line-height-lg);
  letter-spacing: var(--letter-spacing);
  padding: var(--gap-sm) 0;
}
.navbar_link:hover {
  color: var(--color-primary);
}
.content {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.content__title {
  color: var(--color-black);
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-lg);
  margin: 0 0 4px;
}
.content__decription {
  color: var(--color-secondary);
  line-height: var(--line-height-lg);
  margin-bottom: 26px;
}
.content__link {
  background: var(--color-primary);
  color: var(--color-white);
  letter-spacing: var(--letter-spacing);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
  min-height: 65px;
}
.section {
  padding-top: 112px;
  padding-bottom: 90px;
  background-color: var(--color-light);
}
.section__title {
  color: var(--color-black);
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 39px;
}
.section__description {
  color: var(--color-secondary);
  text-align: center;
  line-height: var(--line-height-lg);
}
.experience {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 100px 0 88px;
}
.experience__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--gap);
}
.experience__item {
  display: flex;
  gap: var(--gap);
}
.experience__item__description {
  flex-direction: column;
  display: flex;
  gap: 7px;
}
.experience__item__number {
  color: var(--color-white);
  font-size: 1.3125rem;
  font-weight: 500;
}
.experience__item__image {
  order: -1;
}
.video {
  padding-bottom: 100px;
  background-color: var(--color-light);
}
.video__iframe {
  width: 100%;
  height: 600px;
  border: 0;
}
.footer {
  background-color: var(--color-primary);
  padding: 40px 0;
  color: var(--color-white);
}
.footer__name {
  font-size: 1.3125rem;
  font-weight: 500;
}
.footer__copyright {
  color: var(--color-white);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-normal);
}
